table, td, th{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
td, th{
    padding: 15px;
}
th{
    font-weight: bold;
    font-size: 22px;
    background: yellow;
}
label{
    position: relative;
    left: 100px;
    margin-right: 150px;
    font-weight: bold;
}
div{
    margin-top: 20px;
}
input{
    width: 150px;
    margin-right: 20px;
}
button{
    width: 100px;
}
